body {
  background-color: #f0eeef !important;
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-default {
  background-color: #8F8389;
}

.list-item {
  box-shadow: #f0f2f3 1px 1px;
  margin-bottom: 5px;
}

.not-found {
  width: 100%;
}

.main-container {
  margin-top: 60px;
}

.checked-items > .list-item {
  text-decoration: line-through;
  color: #8F8389;
}
